{% extends "acp/layout/base.html" %}

{% block title -%}
    Додати категорію - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Додати категорію</h1>
    <div class="control_panel">
        <a href="/acp/categories/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="add_category_form" value="додати" class="button add">
    </div>
    <form id="add_category_form" class="acp_form" action="/acp/categories/add" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                {% for language in languages %}
                <tr>
                    <td class="label">
                        <label for="name_{{ language }}_field">назва ({{ languages[language]['name'] }})</label>
                    </td>
                    <td>
                        <input id="name_{{ language }}_field" type="text" name="name_{{ language }}" placeholder="{{ languages[language]['name'] }}" maxlength="64" autocomplete="off"{% if loop.first %} autofocus{% endif %}>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="label">
                        <label for="parent_field">батьківська категорія</label>
                    </td>
                    <td>
                        <select id="parent_field" name="parent">
                            <option label="коренева категорія" selected></option>
                            {% for category_id in categories_order %}
                            {% if category_id in categories %}
                            {% set category = categories[category_id] %}
                            <option label="{% if category['name'] %}{{ category['name'] }}{% endif %}" value="{{ category['id'] }}"></option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="order_field">порядок</label>
                    </td>
                    <td>
                        <input id="order_field" type="number" name="order" placeholder="порядок" value="100" min="0" max="9999" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active" checked>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}