{% extends "acp/layout/base.html" %}

{% block title -%}
    Додати категорію - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Додати категорію</h1>
    <div class="control_panel">
        <a href="/acp/categories/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="add_category_form" value="додати" class="button add">
    </div>
    <form id="add_category_form" class="acp_form" action="/acp/categories/add" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="parent_field">Батьківська категорія</label>
                    </td>
                    <td>
                        <select id="parent_field" name="parent">
                            <option label="Коренева категорія" value="None" selected></option>
                            {% for category in categories.values() recursive %}
                            <option label="{{ category['name'] }}" value="{{ category['id'] }}"></option>
                            {{ loop(category['subcategories'].values()) }}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="name_ukr_field">Назва українською</label>
                    </td>
                    <td>
                        <input id="name_ukr_field" type="text" name="name_ukr" placeholder="українською" maxlength="64" autocomplete="off" required autofocus>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="name_eng_field">Назва англійською</label>
                    </td>
                    <td>
                        <input id="name_eng_field" type="text" name="name_eng" placeholder="англійською" maxlength="64" autocomplete="off" required>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">Показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active" checked>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}