{% extends "acp/layout/base.html" %}

{% block title -%}
    Категорії - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Категорії</h1>
    <div class="control_panel">
        {% if parent is not none %}
        <a href="/acp/categories/{% if parent['parent'] is not none %}?parent={{ parent['parent'] }}{% endif %}" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        {% endif %}
        <a href="/acp/categories/add" class="button_link">
            <div class="button add">
                <span class="title">додати</span>
            </div>
        </a>
    </div>
    <table class="acp_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Батьківська категорія</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories.values() recursive %}
            <tr>
                <td class="center">{{ category['id'] }}</td>
                <td>
                    <a href="/acp/categories/?parent={{ category['id'] }}">{{ category['name'] }}</a>
                </td>
                <td>
                    {% if category['parent']: %}
                    <a href="/acp/categories/?parent={{ category['parent'] }}">{{ category['parent'] }}</a>
                    {% else: %}
                    -
                    {% endif %}
                </td>
                <td>
                    <div class="actions">
                        <a href="/acp/categories/edit?id={{ category['id'] }}">&#9998; редагувати</a>
                        <a href="/acp/categories/delete?id={{ category['id'] }}">&#10007; видалити</a>
                    </div>
                </td>
            </tr>
            {{ loop(category['subcategories'].values()) }}
            {% endfor %}
        </tbody>
    </table>
</section>

{%- endblock content %}