{% extends "acp/layout/base.html" %}

{% block title -%}
    Редагувати категорію - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Редагувати категорію</h1>
    <div class="control_panel">
        <a href="/acp/categories/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="edit_category_form" value="зберегти" class="button edit">
    </div>
    <form id="edit_category_form" class="acp_form" action="/acp/categories/edit" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="id_field">ID</label>
                    </td>
                    <td>
                        <input id="id_field" type="text" name="id" value="{{ category['id'] }}" readonly>
                    </td>
                </tr>
                {% for language in languages %}
                <tr>
                    <td class="label">
                        <label for="name_{{ language }}_field">назва ({{ languages[language]['name'] }})</label>
                    </td>
                    <td>
                        <input id="name_{{ language }}_field" type="text" name="name_{{ language }}" placeholder="{{ languages[language]['name'] }}"{% if language in category['name'] and category['name'][language] %} value="{{ category['name'][language] }}"{% endif %} maxlength="64" autocomplete="off"{% if loop.first %} autofocus{% endif %}>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="label">
                        <label for="parent_field">батьківська категорія</label>
                    </td>
                    <td>
                        <select id="parent_field" name="parent">
                            <option label="коренева категорія" {% if category['parent'] is none %} selected{% endif %}></option>
                            {% for category_id in categories_order %}
                            {% if category_id in categories %}
                            {% set parent = categories[category_id] %}
                            <option label="{{ parent['name'] }}" value="{{ parent['id'] }}"{% if category['parent'] == parent['id'] %} selected{% endif %}></option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="order_field">порядок</label>
                    </td>
                    <td>
                        <input id="order_field" type="number" name="order" placeholder="порядок" value="{{ category['order'] }}" min="0" max="9999" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active"{% if category['is_active'] == 'Y' %} checked{% endif %}>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}