{% extends "acp/layout/base.html" %}

{% block title -%}
    Додати пункт меню - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Додати пункт меню</h1>
    <div class="control_panel">
        <a href="/acp/menus/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="add_menu_item_form" value="додати" class="button add">
    </div>
    <form id="add_menu_item_form" class="acp_form" action="/acp/menus/add" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                {% for language in languages %}
                <tr>
                    <td class="label">
                        <label for="name_{{ language }}_field">назва ({{ languages[language]['name'] }})</label>
                    </td>
                    <td>
                        <input id="name_{{ language }}_field" type="text" name="name_{{ language }}" placeholder="{{ languages[language]['name'] }}" maxlength="64" autocomplete="off"{% if loop.first %} autofocus{% endif %}>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="label">
                        <label for="parent_field">батьківський пункт меню</label>
                    </td>
                    <td>
                        <select id="parent_field" name="parent">
                            <option label="нове меню" selected></option>
                            {% for item_id in menus_order %}
                            {% if item_id in menus %}
                            {% set item = menus[item_id] %}
                            <option label="{% if item['name'] %}{{ item['name'] }}{% endif %}" value="{{ item['id'] }}"></option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="link_field">посилання</label>
                    </td>
                    <td>
                        <input id="link_field" type="text" name="link" placeholder="посилання" maxlength="128" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="order_field">порядок</label>
                    </td>
                    <td>
                        <input id="order_field" type="number" name="order" placeholder="порядок" value="100" min="0" max="9999" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active" checked>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}