{% extends "acp/layout/base.html" %}

{% block title -%}
    Редагування пункту меню - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Редагувати пункт меню</h1>
    <div class="control_panel">
        <a href="/acp/menus/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="edit_menu_item_form" value="зберегти" class="button edit">
    </div>
    <form id="edit_menu_item_form" class="acp_form" action="/acp/menus/edit" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="id_field">ID</label>
                    </td>
                    <td>
                        <input id="id_field" type="text" name="id" value="{{ item['id'] }}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="menu_field">Меню, якому належить пункт. Виберіть із списку або створіть нове, вказавши назву</label>
                    </td>
                    <td>
                        <input id="menu_field" type="text" name="menu" value="{{ item['menu'] }}" list="menus_list" placeholder="меню" autocomplete="off" required>
                        <datalist id="menus_list">
                            {% for menu in menus %}
                            <option value="{{ menu }}">{{ menu }}</option>
                            {% endfor %}
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="parent_field">Якщо додаєте підпункт, оберіть батьківський пункт меню</label>
                    </td>
                    <td>
                        <select id="parent_field" name="parent">
                            <option label="не є підпунктом" value="" selected></option>
                            {% for menu in menus %}
                            <optgroup label="{{ menu }}">
                                {% for menu_item in menus[menu] recursive %}
                                {% if menu_item['id'] != item['id'] %}
                                <option label="{{ menu_item['name'] }}" value="{{ menu_item['id'] }}" {% if menu_item['id'] == item['parent'] %} selected{% endif %}></option>
                                {% endif %}
                                {{ loop(menu_item['submenu']) }}
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="name_ukr_field">Назва українською</label>
                    </td>
                    <td>
                        <input id="name_ukr_field" type="text" name="name_ukr" value="{{ item['name']['ukr'] }}" placeholder="українською" maxlength="64" autocomplete="off" required autofocus>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="name_eng_field">Назва англійською</label>
                    </td>
                    <td>
                        <input id="name_eng_field" type="text" name="name_eng" value="{{ item['name']['eng'] }}" placeholder="англійською" maxlength="64" autocomplete="off" required>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="link_field">Можна лишити пустим</label>
                    </td>
                    <td>
                        <input id="link_field" type="text" name="link" value="{% if item['link'] %}{{ item['link'] }}{% endif %}" placeholder="посилання" maxlength="128" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">Показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active" {% if item['is_active'] == 'Y' %} checked{% endif %}>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}