{% extends "acp/layout/base.html" %}

{% block title -%}
    Меню - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section menus">
    <h1 class="section_title">Меню</h1>
    <div class="control_panel">
        <a href="/acp/menus/add" class="button_link">
            <div class="button add">
                <span class="title">додати</span>
            </div>
        </a>
    </div>
    {% for menu_name in menus %}
    <table class="acp_table">
        <caption>{{ menu_name }}</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Посилання</th>
                <th>Батьківський пункт</th>
                <th>Активний</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for menu_item in menus[menu_name] recursive %}
            <tr>
                <td class="center">{{ menu_item['id'] }}</td>
                <td>{{ menu_item['name'] }}</td>
                <td>{% if menu_item['link'] %}{{ menu_item['link'] }}{% else %}-{% endif %}</td>
                <td class="center">{{ menu_item['parent'] }}</td>
                <td class="center"><input type="checkbox" disabled{% if menu_item['is_active'] == 'Y' %} checked{% endif %}></td>
                <td>
                    <div class="actions">
                        <a href="/acp/menus/edit?id={{ menu_item['id'] }}">&#9998; редагувати</a>
                        <a href="/acp/menus/delete?id={{ menu_item['id'] }}">&#10007; видалити</a>
                    </div>
                </td>
            </tr>
            {{ loop(menu_item['submenu']) }}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</section>

{%- endblock content %}