{% extends "acp/layout/base.html" %}

{% block title -%}
    Меню - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Меню</h1>
    <div class="control_panel">
        <a href="/acp/menus/add" class="button_link">
            <div class="button add">
                <span class="title">додати</span>
            </div>
        </a>
    </div>
    {% for menu_id, menu in menus.items() %}
    <table class="acp_table">
        <caption>{{ menu['name'] }}  (ID {{ menu['id'] }})</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Посилання</th>
                <th>Батьківський пункт</th>
                <th>Додано</th>
                <th>Активний</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for item_id, item in menu['items'].items() recursive %}
            <tr>
                <td class="center">
                    {{ item['id'] }}
                </td>
                <td>
                    {% if item['name'] %}
                    {{ item['name'] }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if item['link'] %}
                    {{ item['link'] }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if item['parent'] and item['parent'] in menu_item_names: %}
                    {{ menu_item_names[item['parent']] }}
                    {% else: %}
                    -
                    {% endif %}
                </td>
                <td>
                {{ item['added'] }}
            </td>
                <td class="center"><input type="checkbox" disabled{% if item['is_active'] == 'Y' %} checked{% endif %}></td>
                <td>
                    <div class="actions">
                        <a href="/acp/menus/edit?id={{ item['id'] }}">&#9998; редагувати</a>
                        <a href="/acp/menus/delete?id={{ item['id'] }}">&#10007; видалити</a>
                    </div>
                </td>
            </tr>
            {{ loop(item['items'].items()) }}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</section>

{%- endblock content %}