$color_transparent: rgba(0, 0, 0, 0);

$color_black: #000000;

$color_grey_0: #333333;
$color_grey_01: #4d4d4d;
$color_grey_1: #666666;
$color_grey_2: #808080;
$color_grey_3: #999999;
$color_grey_4: #939393;
$color_grey_5: #a3a3a3;
$color_grey_6: #cccccc;
$color_grey_7: #e2e2e2;
$color_grey_8: #e8e8e8;
$color_grey_9: #f5f5f5;

$color_gray_0: #000000;
$color_gray_1: #111111;
$color_gray_2: #222222;
$color_gray_3: #333333;
$color_gray_4: #444444;
$color_gray_5: #555555;
$color_gray_6: #666666;
$color_gray_7: #777777;
$color_gray_8: #888888;
$color_gray_9: #999999;
$color_gray_a: #aaaaaa;
$color_gray_b: #bbbbbb;
$color_gray_c: #cccccc;
$color_gray_d: #dddddd;
$color_gray_e: #eeeeee;
$color_gray_f: #ffffff;
$color_white: #ffffff;
$color_gold_light: #f6cf46;
$color_gold_dark: #f8c323;
$color_gold: #cc9933;
$color_red: #ffaaaa;
$color_red2: #cd2026;
$color_green: #aaffaa;
$color_green2: #20cd26;

$color_notif_info: #b2e2f6;
$color_notif_success: #cdefe8;
$color_notif_error: #f9ddf9;

$color_background_common: $color_white;
$color_background_hover_common: $color_gray_c;
$color_bg_common: $color_white;
$color_bg_hover_common: $color_gray_c;
$color_bg_dicount: $color_gold;
$color_bg_new: $color_green2;

$color_text_common: $color_gray_1;
$color_text_black: $color_black;
$color_text_white: $color_white;
$color_text_gold: $color_gold;
$color_text_red: #cd2026;
$color_text_green: $color_green;