{% extends "acp/layout/base.html" %}

{% block title -%}
    Додати товар - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Додати товар</h1>
    <div class="control_panel">
        <a href="/acp/products/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="add_product_form" value="додати" class="button add">
    </div>
    <form id="add_product_form" class="acp_form" action="/acp/products/add" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="model_field">модель</label>
                    </td>
                    <td>
                        <input id="model_field" type="text" name="model" placeholder="модель" maxlength="64" autocomplete="off" autofocus>
                    </td>
                </tr>
                {% for language in languages %}
                <tr>
                    <td class="label">
                        <label for="name_{{ language['code'] }}_field">назва ({{ language['name'] }})</label>
                    </td>
                    <td>
                        <input id="name_{{ language['code'] }}_field" type="text" name="name_{{ language['code'] }}" placeholder="{{ language['name'] }}" maxlength="128" autocomplete="off">
                    </td>
                </tr>
                {% endfor %}
                {% for language in languages %}
                <tr>
                    <td class="label">
                        <label for="description_{{ language['code'] }}_field">опис ({{ language['name'] }})</label>
                    </td>
                    <td>
                        <input id="description_{{ language['code'] }}_field" type="text" name="description_{{ language['code'] }}" placeholder="{{ language['name'] }}" maxlength="256" autocomplete="off">
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="label">
                        <label for="parent_field">категорія</label>
                    </td>
                    <td>
                        <select id="parent_field" name="category_id">
                            <option label="Коренева категорія" selected></option>
                            {% for category_id in categories_order %}
                            {% set category = categories[category_id] %}
                            <option label="{{ category['name'] }}" value="{{ category['id'] }}"></option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% for currency in currencies %}
                <tr>
                    <td class="label">
                        <label for="price_{{ currency['code'] }}_field">ціна {{ currency['symbol'] }}</label>
                    </td>
                    <td>
                        <input id="price_{{ currency['code'] }}_field" type="text" name="price_{{ currency['code'] }}" placeholder="{{ currency['code'] }}" maxlength="16" autocomplete="off">
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="label">
                        <label for="is_active_field">показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active" checked>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}