{% extends "acp/layout/base.html" %}

{% block title -%}
    Товари - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Товари</h1>
    <div class="control_panel">
        <a href="/acp/products/add" class="button_link">
            <div class="button add">
                <span class="title">додати</span>
            </div>
        </a>
    </div>
    <table class="acp_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Модель</th>
                <th>Назва</th>
                <th>Опис</th>
                <th>Категорія</th>
                <th>Додано</th>
                <th>Активний</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id, product in products.items() %}
            <tr>
                <td class="center">
                    {{ product['id'] }}
                </td>
                <td>
                    {% if product['model'] %}{{ product['model'] }}{% else %}-{% endif %}
                </td>
                <td>
                    {% if product['name'] %}{{ product['name'] }}{% else %}-{% endif %}
                </td>
                <td>
                    {% if product['description'] %}{{ product['description'] }}{% else %}-{% endif %}
                </td>
                <td>
                    {% if product['category'] %}{{ product['category'] }}{% else %}-{% endif %}
                </td>
                <td>
                    {{ product['added'] }}
                </td>
                <td class="center"><input type="checkbox" disabled{% if product['is_active'] == 'Y' %} checked{% endif %}></td>
                <td>
                    <div class="actions">
                        <a href="/acp/products/edit?id={{ product['id'] }}">&#9998; редагувати</a>
                        <a href="/acp/products/delete?id={{ product['id'] }}">&#10007; видалити</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{%- endblock content %}