{% extends "acp/layout/base.html" %}

{% block title -%}
    Редагувати групи - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Редагувати групу</h1>
    <div class="control_panel">
        <a href="/acp/users/groups/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="edit_users_group_form" value="зберегти" class="button edit">
    </div>
    <form id="edit_users_group_form" class="acp_form" action="/acp/users/groups/edit" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="id_field">ID</label>
                    </td>
                    <td>
                        <input id="id_field" type="text" name="id" value="{{ group['id'] }}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="name_field">Назва групи (англійською)</label>
                    </td>
                    <td>
                        <input id="name_field" type="text" name="name" value="{{ group['name'] }}" placeholder="назва" maxlength="64" autocomplete="off" required autofocus>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}