{% extends "acp/layout/base.html" %}

{% block title -%}
    Групи користувачів - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Групи користувачів</h1>
    <div class="control_panel">
        <a href="/acp/users/groups/add" class="button_link">
            <div class="button add">
                <span class="title">додати</span>
            </div>
        </a>
    </div>
    <table class="acp_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            {% for group in users_groups %}
            <tr>
                <td class="center">{{ group['id'] }}</td>
                <td>{{ group['name'] }}</td>
                <td>
                    <div class="actions">
                        <a href="/acp/users/groups/edit?id={{ group['id'] }}">редагувати</a>
                        <a href="/acp/users/groups/delete?id={{ group['id'] }}">видалити</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{%- endblock content %}