{% extends "acp/layout/base.html" %}

{% block title -%}
    Додати валюту - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Додати валюту</h1>
    <div class="control_panel">
        <a href="/acp/currencies/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="add_currency_form" value="додати" class="button add">
    </div>
    <form id="add_currency_form" class="acp_form" action="/acp/currencies/add" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="code_field">код</label>
                    </td>
                    <td>
                        <input id="code_field" type="text" name="code" placeholder="код" minlength="3" maxlength="3" autocomplete="off" required autofocus>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="name_field">назва</label>
                    </td>
                    <td>
                        <input id="name_field" type="text" name="name" placeholder="назва" maxlength="64" autocomplete="off" autofocus>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="symbol_field">символ</label>
                    </td>
                    <td>
                        <input id="symbol_field" type="text" name="symbol" placeholder="символ" maxlength="8" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="order_field">порядок</label>
                    </td>
                    <td>
                        <input id="order_field" type="number" name="order" placeholder="порядок" value="100" min="0" max="9999" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active" checked>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}