{% extends "acp/layout/base.html" %}

{% block title -%}
    Редагувати характеристику - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Редагувати характеристику</h1>
    <div class="control_panel">
        <a href="/acp/characteristics/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="edit_characteristic_form" value="зберегти" class="button edit">
    </div>
    <form id="edit_characteristic_form" class="acp_form" action="/acp/characteristics/edit" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="id_field">ID</label>
                    </td>
                    <td>
                        <input id="id_field" type="text" name="id" value="{{ characteristic['id'] }}" readonly>
                    </td>
                </tr>
                {% for language in languages %}
                <tr>
                    <td class="label">
                        <label for="name_{{ language['code'] }}_field">назва ({{ language['name'] }})</label>
                    </td>
                    <td>
                        <input id="name_{{ language['code'] }}_field" type="text" name="name_{{ language['code'] }}" placeholder="{{ language['name'] }}"{% if language['code'] in characteristic['name'] and characteristic['name'][language['code']] %} value="{{ characteristic['name'][language['code']] }}"{% endif %} maxlength="64" autocomplete="off"{% if loop.first %} autofocus{% endif %}>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="label">
                        <label for="order_field">порядок</label>
                    </td>
                    <td>
                        <input id="order_field" type="number" name="order" placeholder="порядок" value="{{ characteristic['order'] }}" min="0" max="9999" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">показувати</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active"{% if characteristic['is_active'] == 'Y' %} checked{% endif %}>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}