<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="/static/acp/css/main.css">
</head>
<body>
    <header class="header">
        <div class="title_block" title="{{ site_name }} Admin Control Panel">
            <a href="/acp/dashboard" class="title_link">
                <span class="title">{{ site_name }} ACP<span>
            </a>
        </div>
        {% include "acp/layout/menu.html" with context %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>
</html>