{% set acp_main_menu_id = 1 %}
{% if acp_main_menu_id in menus and menus[acp_main_menu_id]['items'] %}
<div class="main_menu">
    <nav>
        <div class="menu_l1">
            {% for item_id, item in menus[acp_main_menu_id]['items'].items() %}
            {% if item['is_active'] == 'Y' and item['name'] %}
            <div class="item_l1_wrap">
                {% if item['link'] %}
                <a href="{{ item['link'] }}" class="item_l1_link">
                {% endif %}
                    <div class="item_l1">
                        <span class="item_l1_title">{{ item['name'] }}</span>
                    </div>
                {% if item['link'] %}
                </a>
                {% endif %}
                {% if item['items'] %}
                <div class="menu_l2">
                    {% for item_id, item in item['items'].items() %}
                    {% if item['is_active'] == 'Y' and item['name'] %}
                    <div class="item_l2_wrap">
                        {% if item['link'] %}
                        <a href="{{ item['link'] }}" class="item_l2_link">
                        {% endif %}
                            <div class="item_l2">
                                <span class="item_l1_title">{{ item['name'] }}</span>
                            </div>
                        {% if item['link'] %}
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </nav>
</div>
{% endif %}