{% set acp_main_menu_id = 3 %}
{% for menu in layout_menus %}
{% if menu['id'] == acp_main_menu_id %}
<div class="main_menu">
    <nav>
        <div class="menu_l1">
            {% for item_l1 in menu['items'] %}
            {% if item_l1['is_active'] == 'Y' and item_l1['name'] %}
            <div class="item_l1_wrap">
                {% if item_l1['link'] %}
                <a href="{{ item_l1['link'] }}" class="item_l1_link">
                {% endif %}
                    <div class="item_l1">
                        <span class="item_l1_title">{{ item_l1['name'] }}</span>
                    </div>
                {% if item_l1['link'] %}
                </a>
                {% endif %}
                {% if item_l1['items'] %}
                <div class="menu_l2">
                    {% for item_l2 in item_l1['items'] %}
                    {% if item_l2['is_active'] == 'Y' and item_l2['name'] %}
                    <div class="item_l2_wrap">
                        {% if item_l2['link'] %}
                        <a href="{{ item_l2['link'] }}" class="item_l2_link">
                        {% endif %}
                            <div class="item_l2">
                                <span class="item_l1_title">{{ item_l2['name'] }}</span>
                            </div>
                        {% if item_l2['link'] %}
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </nav>
</div>
{% endif %}
{% endfor %}