$color_gray_0: #000000;
$color_gray_1: #111111;
$color_gray_2: #222222;
$color_gray_3: #333333;
$color_gray_4: #444444;
$color_gray_5: #555555;
$color_gray_6: #666666;
$color_gray_7: #777777;
$color_gray_8: #888888;
$color_gray_9: #999999;
$color_gray_a: #aaaaaa;
$color_gray_b: #bbbbbb;
$color_gray_c: #cccccc;
$color_gray_d: #dddddd;
$color_gray_e: #eeeeee;
$color_gray_f: #ffffff;

$color_black: $color_gray_1;
$color_white: $color_gray_f;

$color_gold_light: #f6cf46;
$color_gold_dark: #f8c323;
$color_gold: #cc9933;
$color_red: #ffaaaa;
$color_red2: #cd2026;
$color_green: #aaffaa;
$color_green2: #20cd26;

$color_controll_panel_add: #aaffaa;
$color_controll_panel_add-hover: #20cd26;

$color_notif_info: #b2e2f6;
$color_notif_success: #cdefe8;
$color_notif_error: #f9ddf9;

$color_background_common: $color_white;
$color_background_hover_common: $color_gray_c;
$color_bg_common: $color_white;
$color_bg_hover_common: $color_gray_c;
$color_bg_dicount: $color_gold;
$color_bg_new: $color_green2;

$color_text_common: $color_gray_1;
$color_text_black: $color_black;
$color_text_white: $color_white;
$color_text_gold: $color_gold;
$color_text_red: #cd2026;
$color_text_green: $color_green;