{% extends "acp/layout/base.html" %}

{% block title -%}
    Редагувати користувача - {{ site_name }} ACP
{%- endblock title %}

{% block content -%}

<section class="acp_section">
    <h1 class="section_title">Редагувати користувача</h1>
    <div class="control_panel">
        <a href="/acp/users/" class="button_link">
            <div class="button back">
                <span class="title">назад</span>
            </div>
        </a>
        <input type="submit" form="edit_user_form" value="зберегти" class="button edit">
    </div>
    <form id="edit_user_form" class="acp_form" action="/acp/users/edit" method="post" accept-charset="utf-8">
        <table>
            <tbody>
                <tr>
                    <td class="label">
                        <label for="id_field">Ім'я</label>
                    </td>
                    <td>
                        <input id="id_field" type="text" name="id" value="{{ user['id'] }}" readonly>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="select_group">Група</label>
                    </td>
                    <td>
                        {% for group in groups %}
                        <div>
                            <input id="select_group_{{ group['id'] }}" type="radio" name="group_id" value="{{ group['id'] }}"{% if user['group_id'] == group['id'] %} checked{% endif %}>
                            <label for="select_group_{{ group['id'] }}">{{ group['name'] }}</label>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="first_name_field">Ім'я</label>
                    </td>
                    <td>
                        <input id="first_name_field" type="text" name="first_name" value="{{ user['first_name'] }}" maxlength="64" placeholder="Ім'я" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="patronymic_field">По батькові</label>
                    </td>
                    <td>
                        <input id="patronymic_field" type="text" name="patronymic" value="{{ user['patronymic'] }}" maxlength="64" placeholder="По батькові" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="last_name_field">Прізвище</label>
                    </td>
                    <td>
                        <input id="last_name_field" type="text" name="last_name" value="{{ user['last_name'] }}" maxlength="64" placeholder="Прізвище" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="phone_number_field">Номер телефону</label>
                    </td>
                    <td>
                        {% for phone_number in user['phone_number'] %}
                        <div>
                            <input id="phone_number_field" type="tel" name="phone_number[]" value="{{ phone_number }}" maxlength="64" placeholder="+380 (ХХ) ХХХ-ХХХХ" autocomplete="off">
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="email_field">E-Mail</label>
                    </td>
                    <td>
                        <input id="email_field" type="email" name="email" value="{{ user['email'] }}" maxlength="64" placeholder="E-Mail" autocomplete="off">
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label for="is_active_field">Активний</label>
                    </td>
                    <td>
                        <input id="is_active_field" type="checkbox" name="is_active"{% if user['is_active'] == 'Y' %} checked{% endif %}>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</section>

{%- endblock content %}